.page4 {
    background-image: url(pic/page4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
    filter: contrast(1.5);
    background-attachment: fixed;
    /* flex-wrap: wrap; */
}
.page4-container {
    /* border: 10px solid white; */
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 10rem 0;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}
.page4-2 {
    width: 100vw;
    height: auto;
    background-color: rgba(9, 3, 63, 0.6);
}
.page4-cards {
    position: relative;
    width: 45rem;
    height: 70rem;
    background-color: rgba(13, 5, 62, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 3rem;
    border: 3px solid rgb(18, 6, 70);
    box-shadow: 0 0 20px 6px rgb(4, 4, 65);
    /* flex-wrap: wrap; */
    margin: 0 auto;
}
#c1 {
    transform: scale(0.8) perspective(600px) rotateY(25deg);
    position: relative;
    /* left: 21rem; */
    transition: all 0.3s linear;
}
#c2 {
    transform: scale(0.8) perspective(600px) rotateY(25deg);
    position: relative;
    /* right: 12rem; */
    transition: all 0.3s linear;
}
#c3 {
    transform: scale(0.8) perspective(600px) rotateY(25deg);
    position: relative;
    transition: all 0.3s linear;
    /* right: 24rem; */
}
#c4 {
    transform: scale(0.8) perspective(600px) rotateY(25deg);
    position: relative;
    transition: all 0.3s linear;
    /* right: 36rem; */
}
#c1:hover {
    transform: scale(1);
}
#c2:hover {
    transform: scale(1);
}
#c3:hover {
    transform: scale(1);
}
#c4:hover {
    transform: scale(1);
}
.material-symbols-outlined {
    font-variation-settings: "FILL" white, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icons1 > svg {
    width: 5rem;
    height: 5rem;
}
.icons2 > svg {
    width: 5rem;
    height: 5rem;
}
.icons3 > svg {
    width: 5rem;
    height: 5rem;
}
.icons4 > svg {
    width: 5rem;
    height: 5rem;
}
.icons1 {
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
}
.icons2 {
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
}
.icons3 {
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
}
.icons4 {
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
}

.color-red {
    fill: red;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.picture > img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    pointer-events: none;
    transform-style: preserve-3d;
}
.picture {
    width: fit-content;
    height: fit-content;
    margin: 3rem auto;
    border-radius: 2rem;
    box-shadow: 0 0 30px 4px rgb(12, 3, 65);
    transform-style: preserve-3d;
}
.page4-cards > h1 {
    font-size: 5rem;
    color: white;
    font-weight: 500;
    font-family: Rubik Doodle Shadow;
    text-align: center;
    text-shadow: 0 0 50px rgb(7, 3, 64);
    text-transform: uppercase;
}
.page4-cards > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgb(13, 2, 55);
}
@media (max-width: 500px) {
    .page4-cards {
        display: block;
        font-size: 5px;
    }
}
